@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  color: #21243D;
}

.container {
  width: 100%;
  max-width: 898px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .site-nav {
  width: 100%;
  margin-bottom: 110px;
}
.header .site-nav-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px;
  margin-top: 30px;
  margin-right: 90px;
}
@media (max-width: 1220px) {
  .header .site-nav-navlist {
    font-size: calc(
                16px + 4 *
                    ((100vw - 320px) / 900)
            );
  }
}
.header .site-nav-navlist .site-nav__list-item:not(:last-child) {
  margin-right: 30px;
}
.header-des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-des__left {
  width: 58%;
  padding-top: 20px;
}
.header-des__left-title {
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 40px;
  width: 89%;
}
.header-des__left-text {
  font-size: 16px;
  line-height: 23.5px;
  font-weight: 400;
  margin-bottom: 38px;
}
.header-des__left-button {
  background-color: #FF6464;
  padding: 9px 20px;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;
  border-radius: 2px;
}
.header-des__right {
  width: 30%;
  margin: 0;
  position: relative;
}
.header-des__right-item {
  z-index: 1;
  width: 243px;
  height: 243px;
  overflow: hidden;
  border-radius: 50%;
}
.header-des__right-item-img {
  width: 100%;
  height: 100%;
}
.header-des__right-item::before {
  content: "";
  width: 243px;
  height: 243px;
  position: absolute;
  background-color: #EDF7FA;
  border-radius: 50%;
  top: 13px;
  left: -5px;
  z-index: -1;
}
.header-banner {
  width: 100%;
  background-color: #EDF7FA;
  margin-top: 70px;
  padding-top: 5px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.header-banner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.header-banner__title-recent {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
}
.header-banner__title-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #00A8CC;
}
.header-banner__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-banner__card-item {
  width: 48%;
  padding: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}
.header-banner__card-item__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 17px;
}
.header-banner__card-item__date {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  padding-right: 30px;
  border-right: 1px solid #000000;
}
.header-banner__card-item__design {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-left: 26px;
}
.header-banner__card-item__text {
  font-size: 16px;
  line-height: 23.5px;
  font-weight: 400;
  margin-top: 15px;
}

.main {
  width: 100%;
}
.main .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.main .works-title {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
}
.main .works-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 15px 10px 15px 0;
  width: 100%;
  gap: 20px;
}
.main .works-item:not(:last-child) {
  margin-bottom: 15px;
}
.main .works-item__img {
  padding: 0;
  margin-top: 10px;
  width: 246px;
  height: 180px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}
.main .works-item__img-element {
  width: 100%;
  height: 100%;
}
.main .works-item__des {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0;
}
.main .works-item__des-title {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 8px;
}
.main .works-item__des-year {
  margin-bottom: 10px;
}
.main .works-item__des-year-date {
  padding: 0px 10px;
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  font-weight: 700;
  margin-right: 25px;
}
.main .works-item__des-year-major {
  color: #8695A4;
  font-size: 20px;
  line-height: 29.38px;
  font-weight: 400;
}
.main .works-item__des-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */