$main-bg-color: '#E5E5E5';
$tiny-text-color: '#8695A4';
$main-button-color: '#FF6464';
$white-color: '#fff';
$font: 'Montserrat', sans-serif;



// normalize code

.container {
  width: 858px;
  margin: 0 auto;
}

