@import './mixins', './variables';
@import './normalize';
.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Start HEADER
.header{

  .site-nav{
    width: 100%;
    margin-bottom: 110px;

    .site-nav-navlist{
      @include flex( center , flex-end);
      @include font(20px , 29px , 500);
      padding:30px 60px;

      .site-nav__list-item:not(:last-child){
        margin-right: 33px;
      }

    }

  }

  .header-des{
    @include flex(center , space-between);

    .header-des__left{
      width: 58%;

      // !!!!!need support
      h1{
        @include font(44px , 60px , 700);
        margin-bottom: 40px;
      }

      .header-des__left-text {
        @include font(16px , 23.5px , 400);
        margin-bottom: 38px;
      }

      .header-des__left-button{
        
      }

    }
  }

}