@import './mixins', './variables';
@import './normalize';
.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header{

  .site-nav{
    width: 100%;

    .site-nav-navlist{
      @include flex( center , flex-end);
      @include font(20px , 29px , 500);
      padding:30px 60px;

      .site-nav__list-item:not(:last-child){
        margin-right: 33px;
      }

    }

  }

}